<ion-header>
  <ion-toolbar color="success">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>ubicacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <!-- <img src="assets/img/img1.png" height="100%" width="100%" alt=""> -->
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d498.6754056985359!2d-80.18180454813788!3d-0.8264717157762504!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x931795eadf23c18a!2sEscuela+Superior+Politecnica+Agropecuaria+De+Manabi!5e0!3m2!1sen!2sec!4v1544042931674" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <!-- <ion-buttons onclick="hola()">hola</ion-buttons> -->

    <ion-grid>
        <ion-row>  
            <ion-col>
            </ion-col>
            <ion-col size="6">
    <!-- <ion-button [routerLink]="['/home']"  shape="round" expand="full" color="success" (click)="hola()">home</ion-button> -->
    <ion-button [routerLink]="['/home']"  shape="round" expand="full" color="success" >home</ion-button>
            </ion-col>
            <ion-col>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
