<ion-header>
  <ion-toolbar color="success">
    <ion-title >Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 
  <br>
  <br>
  <ion-item>
    <ion-input required type="email" placeholder="Email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input required type="password" placeholder="Password"></ion-input>
  </ion-item>
  <br>
  
  <ion-button [routerLink]="['/home']" shape="round" expand="full" color="success" onclick="add('7')">Ingresar</ion-button>
  <!-- <ion-button shape="round" color="success" fill="outline"> Ingresar </ion-button> -->
  
</ion-content>
