<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>horario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="list" >
    <div class="item item-divider">  Calle: 10 de Agosto  </div>
    <br>
    <a href="#" class="item"> 
        <!-- <div class="row">
            <div color="primary" class="col"> 9:00am - 9:20 am </div>
            <div color="primary" class="col"> 9:00am - 9:20 am </div>
        </div> -->
        <ion-card>
            <!-- <ion-img src="/assets/myImg.png"></ion-img> -->
            <ion-card-header>
                <ion-card-title>Lunes</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                
              <div color="primary" class="col">  9:00 am  -  9:20 am </div>
              <div color="primary" class="col"> 12:00 pm  - 12:20 pm </div>
              <div color="primary" class="col">  4:00 pm  -  4:20 pm </div>

            </ion-card-content>
            
        </ion-card>

        <ion-card>
            <!-- <ion-img src="/assets/myImg.png"></ion-img> -->
            <ion-card-header>
                <ion-card-title>Miercoles</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                
              <div color="primary" class="col">  9:00 am  -  9:20 am </div>
              <div color="primary" class="col"> 12:00 pm  - 12:20 pm </div>
              <div color="primary" class="col">  4:00 pm  -  4:20 pm </div>

            </ion-card-content>
            
        </ion-card>

        <ion-card>
            <!-- <ion-img src="/assets/myImg.png"></ion-img> -->
            <ion-card-header>
                <ion-card-title>Viernes</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                
              <div color="primary" class="col">  9:00 am  -  9:20 am </div>
              <div color="primary" class="col"> 12:00 pm  - 12:20 pm </div>
              <div color="primary" class="col">  4:00 pm  -  4:20 pm </div>

            </ion-card-content>
            
        </ion-card>

    </a>
  </div>


</ion-content>
