<ion-header>
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
      <ion-title>Home</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
      <ion-card>
          <h5 class="titulo1">¿CÓMO CLASIFICAR LA BASURA?</h5>
          <ion-img class="titulo1_img" src="/assets/img/info1.jpg"></ion-img>
      </ion-card>
  
      <ion-card>
          <ion-card-header>
              <ion-card-title style="color:blue"> <ion-icon name="paper"></ion-icon>  Contenedor azul: Papel y Cartón</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <p>Periódicos, libros, sobres, revistas y otros papeles. Bolsas y envases de papel, cajas de cartón (que deben plegarse antes de ser depositadas) y cartón de huevo.</p>
          </ion-card-content>
      </ion-card>
  
  
      <ion-card>
          <ion-card-header>
              <ion-card-title style="color:goldenrod"> <ion-icon name="cube"></ion-icon>  Contenedor amarillo: Envases y Plásticos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <p>Envases tipo brick, botes, latas y envases metálicos, botellas, garrafas, tapones y otros envases de plástico, aerosoles y sprays, papel aluminio y autoadherente, bandejas de carne o fruta de poliestireno, redes de fruta y guantes de goma.</p>
          </ion-card-content>
      </ion-card>
  
  
      <ion-card>
          <ion-card-header>
              <ion-card-title style="color:green"> <ion-icon name="flask"></ion-icon>  Contenedor verde: Cristal y Vidrio</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <p>Botellas de vidrio, tarros y frascos de conservas, jarras y copas de vidrio.</p>
          </ion-card-content>
      </ion-card>
      
  
      <ion-card>
          <ion-card-header>
              <ion-card-title style="color: #7a4729"> <ion-icon name="pizza"></ion-icon>  Contenedor marrón: Orgánica</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <p>Restos de comida, huesos y pieles de fruta, filtros de café, sobres de infusiones, cáscaras de mariscos y moluscos, tapones de corcho, cáscaras de huevo, papel de cocina y servilletas de papel, cáscaras de frutos secos, palillos, cerillos y excremento de animales.</p>
          </ion-card-content>
      </ion-card>
  
  
      <ion-card>
          <ion-card-header>
              <ion-card-title style="color:#383a3e"> <ion-icon name="bonfire"></ion-icon>  Contenedor verde obscuro o gris: Resto o Desechos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <p>Residuos de barrer, colillas, pañales y productos de higiene femenina, navajas de afeitar, cepillos de dientes, chicles, bolsas de aspiradora y esponjas de cocina.</p>
          </ion-card-content>
      </ion-card>
  
  </ion-content>
