.titulo1{
    text-align: center;
    color: #213789;
    font-weight: bold;
    padding-left: 4px;
    padding-right: 4px;
    font-family: 'Times New Roman', Times, serif;
}
.titulo1_img{
    margin-left: 4px;
    margin-right: 4px;
}
p{
    text-align: justify;
}
