<!-- <ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header> -->
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
<ion-content padding>

    <br>
    <br>
    <br>
    <div class="row">

      <div class="col">
        <ion-img src="/assets/img/logo.png"></ion-img>
      </div>
      <!-- <div class="col">
        <ion-button [routerLink]="['/home']" shape="round" expand="full" color="success" onclick="add('7')">Comenzar</ion-button>
      </div> -->
    </div>
    <br>

    <div style="width: 100%; text-align: center; font-size: 30px; color: gray">
        ¡Bienvenidos!
    </div>
  
    <br>
    <br>
    <div style="width: 74%; margin:auto" class="row">
        <ion-button [routerLink]="['/registro']" shape="round" expand="full" color="success" onclick="add('7')">Comenzar</ion-button>
    </div>
    <br>
    <br>
    <div class="row">   
      <ion-item-divider>
        <div style="width: 100%; text-align: center; font-size: 17px">¿Ya tienes una cuenta?  <a href="/Login" >Iniciar Sesión</a></div>
      </ion-item-divider>
    </div>

</ion-content>
